@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/content';

// 5. Components
@import
  'components/button',
  'components/camera',
  'components/modals';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/personal-data',
  'pages/take-selfie',
  'pages/offer-info',
  'pages/undefined-page',
  'pages/take-sign',
  'pages/choose-offers';
