// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $footer-color;
  display: flex;
  // flex-direction: column;

  ion-icon {
    display: flex;
    flex-grow: 1;
  }

  p {
    display: flex;
    margin-left: 10%;
  }
}

.button-md {
  background-color: none;
  box-shadow: none;
  font-size: 1.4rem;
  font-weight: 500;
  height: 3.6rem;
  overflow: hidden;
  text-transform: uppercase;
}

.button-md:hover,
.button-md:hover:not(.disable-hover) {
  background-color: $footer-color;
}
