// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-personal-data {
  background-color: $footer-color;

  icon-button {
    display: none;
  }

  button {
    background-color: $footer-color;
  }

}

.bar-header {
  background-color: $footer-color;
  width: 20em;
}

.container-logo-header {
  width: 5em;
}
