// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  box-sizing: border-box;
  margin: 0;
  max-width: 375px;
}

//general icons
.arrow-forward{
  display: flex;
  justify-content: flex-end;
}

.icon-color{
  color: $info-color;
  margin-right: 5px;
}

.info-box-style{
  display: flex;
}

// .title{
//   text-align: center;
//   color: green;
// }
