// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  box-sizing: border-box;
  margin: 0;
  max-width: 375px;
}

.arrow-forward {
  display: flex;
  justify-content: flex-end;
}

.icon-color {
  color: $info-color;
  margin-right: 5px;
}

.info-box-style {
  display: flex;
}

.confirmeItem {
  color: $toggle-color;
  font-size: 9px;
  text-align: center;
}

.img-slide {
  text-align: center;
  justify-content: center;
}

.img-slide-icon {
  width: 30px;
}

// .slides {
//   align-items: center;
//   bottom: 70px;
//   left: 0;
//   position: fixed;
//   width: 100%;
// }
