// -----------------------------------------------------------------------------
// This file contains typography style for copy text
// -----------------------------------------------------------------------------
.txt-lg {
  color: black;
  font-size: 30px;
}

.txt-lg-start-end {
  color: $secondary-color;
  font-size: 30px;
}


.txt-md {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: flex-start;
}

.txt-md-start-end{
  color: $secondary-color;
  font-size: 20px;
}

.txt-sm-start-end{
  color: $secondary-color;
  font-size: 16px;
}

.txt-xs {
  color: black;
  font-size: 1.4rem;
}

.txt-xs-start-end{
  color: $secondary-color;
  font-size: 1.4rem;
}
