.container-lend {
  width: 50%;
}

.container-lenders-box {
  display: flex;
}

.card-header {
  display: flex;
}

.card-header {
  text-align: center;
}

.footer-text-lender {
  text-align: center;
  width: 100%;
}
