.container-lend {
  width: 50%;
}

.container-lenders-box {
  display: flex;
}

.card-header {
  display: flex;
}

.card-header {
  text-align: center;
}

.footer-text-lender {
  text-align: center;
  width: 100%;
}

.details-offers {
  justify-content: center;
  text-align: center;
}

.ion-md-checkmark:before {
  color: $footer-color;
  content: '\f2bc';
}
