// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.container-logo{
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}
