.colInfo {
  display: flex;
  flex-direction: column;
}

.containerLender{
  display: flex;
  justify-content: center;
}

.contentOfferInfo{
  background-color: $secondary-color;
}


.infoBox-content{
  display: flex;
  flex-direction: row;
  display:flex;
  justify-content: center;
}

.linkInfo{
  text-decoration: none;
}

.moreInfo{
  // width: 30%;
}

.noInfo{
  // width: 30%;
}

.rowInfo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

// .tx-underlined{
// display: flex;
// justify-content: flex-end;
// }
