page-personal-data {
}
.checkboxItems{
  // flex-direction: column;
}
.confirmeItem{
  font-size: 9px;
  color: #488aff;
}
.content-toggle{
  // display: flex;
  // flex-direction: row;
  margin-top: 13px;;
  margin-bottom: 13px;
}
.list{
  // flex-direction: column
}
.confirmeItem{
  align-self:stretch;
}
.slide1{
  width: 100%;
  height: 100%;
}
