// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.ios-close-grey {
  background-color: $background-color-buttons-cross;
  border-radius: 3em;
  box-shadow: 0 10px 25px -13px $box-shadow;
  height: 3.5em;
  left: 17.8em;
  position: absolute;
  top: 15.5em;
  width: 3.5em;
  z-index: 10000;

  .ios-close {
    align-items: center;
    color: $secondary-color;
    display: flex;
    height: 2em;
    justify-content: center;
    width: 2em;
  }
}
