.selfie-container {
  border: 1px dotted $primary-color;
  border-radius: 2;
  bottom: 1.25em;
  display: flex;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  position: 1em, 17.375em;
  width: 21.438em;
}
