.selfie-container {
  border: 1px dotted $primary-color;
  border-radius: 0.125em;
  bottom: 1em;
  display: flex;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 21.438em;
}
