// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



// Colour Palette
// This is the primary and secondary colour palettes as described in the styleguide


// Base
$primary-color: #232e78;
$secondary-color: #ffffff;
$footer-color: #ffba3b;
$box-shadow: rgba(0, 0, 0, 0.9);
$background-color-buttons-cross: #bdbdbd;
$toggle-color: #488aff;



// Grey Scale
// $darkergrey: #333; // 80% Black
// $darkgrey: #767676; // Mid Grey
// $grey: #a8a8a8; // Light grey
// $lightgrey: #d9d9d9; // 15% Black
// $lightergrey: #f0f0f0; // 8% Black


// Functional colours
// $minus: #f00;
// $plus: #349651;
$info-color: #19679b;

// Social Networks
// $fb: rgb(59, 89, 182);
// $tw: rgb(64, 153, 255);
// $googleplus: rgb(221, 75, 57);
// $pinterest: rgb(203, 32, 39);
// $skype: rgb(18, 165, 244);
// $spotify: rgb(129, 183, 26);
// $instagram: #4e433c;
// $tumblr: #2b4964;
// $vimeo: #86b32d;
// $soundcloud: #f76600;
// $youtube: #f33;
// $linkedin: #4875b4;
// $flickr: #fe0883;
// $foursquare: #8fd400;





//
// Breakpoints
// This are the breakpoints used in the styleguide
// Small Mobile - (<768px)
// Mobile - (≥768px)
// Tablet - (≥992px)
// Desktop - (≥1200px)

$breakpoints: (
  'xs-mobile': (max-width: 48em),
  'mobile': (min-width: 48em),
  'tablet': (min-width: 62em),
  'desktop': (min-width: 75em)
);



//
// Typography
// This are the typography sizes used in the styleguide
//
$primaryfont: 'Roboto', 'Times New Roman', serif;





//
// Other variables
// This variables that have not place to live
//
$border-radius: 4px;
$grid-gutter: 15px; // (15px on each side of a column)
$time: 0.15s; // Used as transition-duration in transition longhand
