.bar-header {
  background-color: $footer-color;
  width: 20em;
}

.background-personal-data {
  background-color: $secondary-color;
}

.container-logo-header {
  width: 5em;
}
// // .form-new-process{
// //   flex-direction: row;
// // }
